webalizer/
*.bak
*.old
*.orig
*.sandd
*.tmp
metadata/
*.metadata
source/CI_2.1.0/application/logs/
source/CI_2.1.0/application/EventColumn/logs/
nbproject/*
EventColumn/test.php
source/CI_2.1.0/application/EventColumn/models/TransactionTestDM.php
source/CI_2.1.0/application/EventColumn/models/testDM.php
robots.txt

#need to find a better way to do this
#source/CI_2.1.0/application/config/config.php
#source/CI_2.1.0/application/EventColumn/config/config.php
