html{
	font-family: Verdana, Arial,sans-serif;
	font-size:14px;
}
body{
	margin:0;
    padding:0;
	background:#ffffff;
}

h1, h2 {
	margin:0;
	color:#6FA7D1;
	text-shadow:0 1px 1px #FFFFFF;
}

h1 a, h2 a {
	text-decoration:none;
}

a, a:visited {
	color:#6FA7D1;
}

p {
	margin:5px 0 5px 0;
}

select, input[type=text], input[type=password], input[type=button], input[type=submit], button {
	border:1px solid #C5DBEC;
	border-radius:5px;
}

input[type=text], input[type=password] {
    padding:2px 10px 2px 10px;
    margin-right:5px;
}

.add {
	color:green;
}

.adblock {
    margin: 3px;
}

.subtract, .error, .red {
	color:#FF3333;
}

.left {
	float:left;
}

.half {
	width:50%;
}

.margin_bottom_10 {
	margin-bottom:10px;
}

a.button, input[type=button], input[type=submit], button  {
	background-color:#DAEAF6;
	color:#6FA7D1;
	padding:2px 10px 2px 10px;
	text-decoration:none;
	font-weight:bold;
}

a.button:hover, input[type=button]:hover, input[type=submit]:hover, button:hover {
	background-color:#6FA7D1;
	color:#DAEAF6;
	cursor:pointer;
}

#header{
	height:86px;
	margin:0 auto;
	background:transparent url(../images/header_gradient2.gif) repeat-x;
	position:relative;
}

#header h1 {
	margin:14px auto 7px auto;
	width:984px;
}

#console {
	width:984px;
	margin:0 auto;
}

#date {
    position: absolute;
    top:3px;
    right:133px;
    font-size:80%;
    color: #6FA7D1;
}

#user {
    position:absolute;
    bottom:3px;
    right:133px;
    z-index: 1000;
    color: #6FA7D1;
}

#user a, #date a {
    text-decoration: none;
}

#user a:hover, #date a:hover {
    text-decoration: underline;
}

#cookie-crumb {
	position:absolute;
	right:15px;
	bottom:0;
}

#ajax-load {
	display:none;
}

img {
	border:none;
}

.clear {
	clear:both;
	font-size: 0;
	height: 0;
	line-height: 0;
	padding: 0;
	margin: 0;
}

.bold {
	font-weight:bold;
}

.main_color {
	color:#6FA7D1;
}

.italics {
	font-style:italic;
}

.fat {
	margin:10px 0 10px 0;
}

.label {
	clear:left;
	float:left;
}

.ta-left {
    text-align: left;
    min-width: 100px;
}

.ta-right {
	min-width:200px;
	text-align:right;
}

#accounts-container {
	width:730px; /*737*/
	padding:0 10px 0 10px;
	clear:both;
}

.account-container {
	display:none;
	clear:both;
}

.tabs ul {
}

.tabs li {
}

.account-name {
	text-align:right;
	margin:0 65px 0 0;
}

.category-container {
	padding:10px 5px 0 5px;
}

.radio-group {
	position:relative;
	min-width:300px;
}

.form-element {
	margin:5px 0;
}

.section {
    margin:10px 0 20px 0;
}

#submit {
    text-align:right;
}

#container{
    width:984px;
    margin:0 auto;
    position:relative;
    background:#ffffff;
    min-height:300px;
}

#book-summary {
    margin-top:30px;
}

#category_form {
    width:55%;
}

#edit{
	margin:0 0 10px 0;
}

#nav{
	width:984px;
	margin:0 auto;
	position:relative;
	z-index:100;
}

.nav-background {
	text-align:center;
	height:30px;
}

#nav ul{
	list-style-type:none;
	margin:5px 0;
	padding:0;
}

#nav li {
	display:block;
	padding:5px 10px;
	float:left;
	position:relative;
}

#nav li.main_nav {
    background:none repeat scroll 0 0 #6FA7D1;
    border-left: 1px solid #c5dbec;
    border-right: 1px solid #c5dbec;
    border-top: 1px solid #c5dbec;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin:0 2px 0 2px;
}

#sidebar {
	border-right:1px solid #D3D6FF;
	padding:0 0 0 5px;
	float:left;
	width:14%;
	height:300px;
}

#sidebar ul {
	list-style-type: none;
	padding:0;
}

#sidebar li {
	margin:5px 0 5px 0;
}

#nav li a, #nav li a:visited {
	color:#FFFFFF;
        text-decoration:none;
	font-weight:bold;
}

#sidebar li a, #sidebar li a:visited {
	color:#025B01;
	font-weight:bold;
}

#nav li a:hover, #sidebar li a:hover{
	text-decoration:none;
}

#nav li ul {
    display:none;
    position:absolute;
    margin:0;
    left:-1px;
    bottom: -56px;
}

#nav li ul li {
	display:block;
	float:none;
	min-width:150px;
	text-align:left;
}

#nav li ul li a {
	color:#ffffff !important;
}

#nav li.main_nav ul {
    background:none repeat scroll 0 0 #6FA7D1;
    border-left: 1px solid #c5dbec;
    border-right: 1px solid #c5dbec;
    border-bottom: 1px solid #c5dbec;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    /*border-top:none;*/
}

#content {
	float:left;
	width:76%;
	padding:15px;
}

.result {
	color:#ff3333;
}

.book-wrap {
	margin:10px 0;
}

.border-top {
	border-top:1px solid #000;
}

.border-right {
	border-right:1px solid #000;
}

.border-bottom {
	border-bottom:1px solid #000;
}

.border-left {
	border-left:1px solid #000;
}

.border-top, .border-right, .border-bottom, .border-left {
	border-color:#D3D6FF;
}

.dashed-bottom {
	border-bottom:1px dashed #D3D6FF;
}

.book-summary{
	/*padding: 0 10px 10px 10px;*/
}

.border {
	border:1px solid #C5DBEC;
	border-radius:5px;
}

.book-summary table {
}

.book-summary form {
	margin:10px 0;
}

.bucket {
	margin:10px 0;
}

.book, .clear-both {
	clear:both;
}

.book h3 {
	background:url(../images/redmond/ui-bg_glass_85_dfeffc_1x400.png) repeat-x scroll 50% 50% #DFEFFC;
	margin:0;
	height:20px;
	padding: 5px;
	cursor:pointer;
	color:#2E6E9E;
}

.book h3 span.text {
	float:left;
}

.book h3 span.money {
	float:right;
}

.book div.book-content {
	clear:both;
	display:none;
	width:730px;
}

.transfer-accounts {
	display:none;
}

#account-general-info {

}

#account-general-info.bucket-amount, #account-general-info.due-day {
	width:50%;
}

.zebra {
	background-color:#CCFFFF;
}

#transactions{
	float:left;
	width:100%;
}

#transactions table {
	width:100%;
}

#transactions tr {
	border-bottom:1px solid #000;
}

tr.cleared{
	background-color:yellow;
}

tr.red {
	color: #ff3333;
	border-bottom:1px solid #c9c9c9;
}
tr.green {
	color: #025B01;
	border-bottom:1px solid #c9c9c9;
}

table.book-table {
	border:1px solid #000;
	margin:1px;
	background:#97e898;/*8BADE2;*/
}

#deposit-table {
	border:1px solid #000000;
	margin:1px;
	background:#97e898;
}

#deposit-table tr {
	border-bottom:1px solid #ffffff;
}

#deposit-table tr.table-head{
	background:#ffffff;
	color:#025B01;
	font-weight:bold;
}

#deposit-table td {
	padding:0 12px;
}

.align-right, #newBookForm td.right {
	text-align:right;
}

#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #D3D6FF;
	background-color: #eee;
	padding: 5px;
	opacity: 0.85;
	font-size: 85%;
}

#tooltip h3, #tooltip div {
	margin: 0;
}

#post-it-notes {
	margin:110px 0 0 0;
	width:20%;
	float:left;
}

#post-it-notes .post-it {
	background-color:#F2F5A9;
	min-height:155px;
	padding:5px;
	margin:5px 0 5px 0;
}

#footer {
	background:#6FA7D1;
	height:50px;
	margin:0 auto;
	width:984px;
	text-align:center;
	padding:10px 0 0 0;
}

#copy {
	color:#000;
	width:75%;
	height:30px;
	margin:0 auto;
	background:transparent url(../images/h3_gradient.gif) repeat-x;/*#7FA71F;*/
	padding:8px 0 0 0;
}