/*
    Created on : Oct 2, 2017, 12:41:31 PM
    Author     : stretch
*/

.bold {
    font-weight:bold;
}

.align-right {
    text-align:right;
}

.inline-block {
    display: inline-block;
}

.float-left {
    float:left;
}

.float-right {
    float:right;
}

.form-group-label {
    margin-bottom: 0px;
}

#ajax-load {
    display:none;
}

#report_container {
    position:relative;
}

#report_container ul.no-list-style {
    list-style-type: none;
}

#report_list {
    width:25%;
    float: left;
}

#reports {
    width:74%;
    display:inline-block;
}

#footer {
    margin:0 auto;
    text-align:center;
    padding:10px 0 0 0;
    font-size: 85%;
}

#footer .links ul {
    list-style-type:none;
    margin:3px 0 3px 0;
}

#footer .links li {
    display: inline;
    margin:0 2px 0 2px;
}

.content_section h2 span {
    font-size: 58%;
    display:block;
    color:dimgray;
}

.add {
    color: #3c763d;
}

.add::before {
    content: "+";
}

.subtract {
    color: #a94442;
}

.subtract::before {
    content: "-";
}

.quantum {
    line-height: 20px;
    font-size: 80%;
    color: #3D5B9E;
}

#link_button {
    margin-left:5px;
}

.overlay {
    width: 100%;
    opacity: .80;
    background-color: #ffffff;
    display:none;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1001;
}

.overlay #loader {
    margin: 15% auto 0 auto;
    display:block;
}

.overlay #message {
    padding: 5px 10px;
    text-align: center;
}

#transactions_grid span.glyphicon-edit:hover, #transactions_grid span.glyphicon-remove:hover {
    cursor: pointer;
}

.with-info {
    width:97%;
    display:inline-block;
}

.well.border-paid {
    border: 1px solid #5cb85c;
}

.well.border-unpaid {
    border: 1px solid #ff6666;
}

.paid {
    color: #5cb85c;
}

.unpaid {
    color: #ff6666;
}

.category-well {
    display: inline-grid;
    width:33%;
    min-height: 256px;
}