/*
    Created on : Nov 3, 2017, 8:35:30 PM
    Author     : stretch
*/

@import 'main.css';

#header {
    text-align:center;
}

#logo {
    height:150px;
    float:none;
    padding:0;
}

.active {
    background-color:#c9c9c9 !important;
}

.disabled {
    opacity:.5;
}

.error {
    color: #a94442;
}