<div>
    <h1>How It Works</h1>
    <ul>
        <li><a href='#mission'>Our Mission</a></li>
        <li><a href='#nutshell'>In a nutshell...</a></li>
        <li><a href='#create_account'>Create an Account</a></li>
        <li><a href='#create_categories'>Creating Categories</a></li>
        <li><a href='#add_funds'>Adding Funds</a></li>
        <li><a href='#manual_add_funds'>Manually Adding Funds</a></li>
        <li><a href='#deductions'>Deductions</a></li>
        <li><a href='#refunds'>Refunds</a></li>
        <li><a href='#deleting_transaction'>Deleting a transaction</a></li>
        <li><a href='#transfers'>Transferring Funds</a></li>
        <li><a href='#notes'>Notes</a></li>
    </ul>
    <div id='mission' class='content_section'>
        <h2>Our Mission</h2>
        At smart budget our mission is to help you take control of your finances.
        We've found that the best way to do this is to help you get organized and
        give you the ability to manage your money yourself. There are other budgeting
        websites out there but many of them ask you for your personal or financial information
        so that they can connect with your bank and download your transactional
        information and then send you alerts when they think you've overspent on something.
        That doesn't sound a whole lot like you taking control to us. So we opted for
        a simpler approach, we don't ask you for personal or financial information, because
        we don't need it, in fact we don't want it. Instead we give you the tools to manage
        your finances and then let you \"take control\".
    </div>
    <div id='nutshell' class='content_section'>
        <h2>In a nutshell...</h2>
        Smart Budget converts your bank account into categories. Well, not really,
        your bank account will still be the same, just more organized.
    </div>
    <div id='create_account' class='content_section'>
        <h2>Creating an Account</h2>
        After you've <a href='/admin/register/'>registered</a> you'll
        need to <a href='/accountCTL/addNewAccount'>create an account</a> to represent
        your bank account, piggy bank, mayonaise jar or whatever it is you use to
        store your cash. Don't worry though, we don't ask for any financial or personal
        information, we are simply simulating your bank account so we can help you organize it.
        in fact all we ask for is a name for your account and how often you get paid.
        The name is so you know which account your working with and the pay schedule
        is so we can calculate the best way to organize your money.
    </div>
    <div id='create_categories' class='content_section'>
        <h2>Creating Categories</h2>
        Once you have an account created you can begin <a href='/book/newBookForm'>adding categories</a>.
        We ask for a little bit more information on these but we are still careful
        to not ask for any personal or financial data. You can add as many categories
        as you would like, for example, you might want a category for rent/mortgage, and
        another for car payment, perhaps groceries and gas would be good to have.
        you can be as broad or as detailed as you want, whatever helps you take control
        of your finances.<br /><br />
        <a href='#header'>back to top</a>
    </div>
    <div id='add_funds' class='content_section'>
        <h2>Adding Funds</h2>
        Now that you have an account and categories created it's time to <a href='/funds'>add funds</a>.
        Keep in mind, we're not adding real money we are simply simulating the money that
        has already been added to your bank account so we can organize it into the
        categories that have been created.<br />
        To add funds simply navigate to Funds -> Add Funds and fill out the form.
        For your first add it's probably best to simply add the balance of your bank
        account but that also depends on whether or not you set up your categories
        with cash already in them.<br />
        Once you've given the form a Source, Gross amount and an account to deposit
        the funds you'll probably notice a little checkbox near the submit button.
        This checkbox provides you with the ability to categorize your money after
        it is deposited in your account. If you don't select the checkbox your money
        will automatically be categorized for you in order of due date (closes first)
        and priority (highest priority first, where 1 is highest priority).<br />
        Our prediction is once you give the automatic categorizing a shot, you'll
        never turn back.<br /><br />
        <a href='#header'>back to top</a>
    </div>
    <div id='manaul_add_funds' class='content_section'>
        <h2>Manually Adding Funds</h2>
        If you decide to manually add funds, no big deal, you simply need to navigate to
        each category that you want to deposit money into, give it an amount and
        select the \"Add funds from [account name]\", then click the submit button.
        As long as you have money in your account it will get deposited into your
        category.<br /><br />
        <a href='#header'>back to top</a>
    </div>
    <div id='deductions' class='content_section'>
        <h2>Deductions <span>What do I do when I spend money?</span></h2>
        Now for the fun part, when you spend money get a receipt, if it's a check
        keep the carbon copy (or write down the amount and check number) then on a regular
        basis log into your account and enter the amounts you spend into their
        respective categories. Then as often as you see fit log into your bank account
        and check the balance of your bank account against the \"Account Balance\"
        on the home page of your smart budget account. If you have entered in your
        transactions correctly and your bank account is up to date those two numbers
        should match.<br />
        That's it! No more checking your bank account to see if you have money and
        then doing math in your head to see if you afford that new pair of
        shoes that you've had your eye on, just check your Smart Budget categories
        and they will tell you if you can afford whatever it is you are trying to
        afford.<br /><br />
        <a href='#header'>back to top</a>
    </div>
    <div id='refunds' class='content_section'>
        <h2>Refunds <span>Is there an easy way to add a refund?</span></h2>
        Yes! Simply go to the category where the original deduction took place
        and provide a date and amount and then click on the \"Refund\" radio button.
        Once you do this a new box will pop up asking you for an ID. If you have
        the original transaction ID great! If not, you can probably find it in the
        transactions grid near the bottom of the screen. But if you don't want to
        go through all that work just click submit, we'll still process the refund.
        <br /><br />
        <a href='#header'>back to top</a>
    </div>
    <div id='deleting_transaction' class='content_section'>
        <h2>Deleting a transaction
        <span>Oops, I made a mistake, can I delete that last transaction?</span></h2>
        Absolutley! Simply fidn the transaction you wish to delete and click on the
        big red 'X' at the right. A pop up will ask you to confirm and once you
        click \"OK\" you'll be good to go.<br /><br />
        <a href='#header'>back to top</a>
    </div>
    <div id='transfers' class='content_section'>
        <h2>Transferring Funds
        <span>Can I move money from one category to the other?</span></h2>
        Of course! All you need to do is go to Funds -> Transfer Funds, choose whether
        you'll be transferring between accounts or categories, select the category
        to transfer from and the category to transfer to, enter the amount and click
        submit. As long as you have money in the category you are transferring from
        it will get transferred, however we won't transfer more than you have in
        that category.<br /><br />
        <a href='#header'>back to top</a>
    </div>
    <div id='notes' class='content_section'>
        <h2>Notes</h2>
        What are <a href='/notes/addNewNote'>notes</a>? You can add notes to any or all pages on your Smart Budget
        login. For example, suppose you make your car payment early and want to
        transfer the next deposit in that category to a different category. You
        could leave yourself a note to do just that, once you've done that and the
        note is no longer useful, simply delete it.<br /><br />
        <a href='#header'>back to top</a>
    </div>
</div>