#redirect to https
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]

SetEnv CI_ENV production

<IfModule mod_rewrite.c>
    Options +FollowSymLinks
	RewriteEngine On

	RewriteBase /budget/

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ /index.php?/$1 [L]
</IfModule>
