/*
    Document   : styles
    Created on : Sep 22, 2013, 9:51:29 AM
    Author     : stretch
    Description:
        Purpose of the stylesheet follows.
*/

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    /*background-color: #FFFFFF;*/
    color: #000000;
}

body {
    margin:0;
}

h1 {
    font-size:200%;
}

h2 {
    font-size: 253%;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
}

.clear {
    clear:both;
    line-height: 0px;
    height:0px;
    font-size:0px;
    margin:0px;
    padding: 0px;
}

.error, .notification, .successs {
    padding:0 0 0 10px;
}

.error {
    color:#FF3333;
}

.notification {
    color:#FFC322;
}

.success {
    color:#33FF33;
}

.error p, .notification p, .success p {
    display: inline;
}

.purple {
    color:#9966FF;
}

.float_right {
    float:right;
}

.ec_button {
    border-radius:5px;
    color:#FFFFFF;
    background-color:#0099FF;
}

input[type=file] {
    border-radius:5px;
    color:#FFFFFF;
    background-color:#0099FF;
}

#wrapper {

}

#header {
    /*background: url('../images/header.png') repeat-x;*/
    background-color: #9966ff;
    float:left;
    margin:0;
    width:100%;
    position:relative;
}

#header h1 {
    margin-bottom:0px;
    float:left;
}

#header span.welcome {
    float:right;
    margin:15px 0 0 0;
}

#header span.welcome a, #header span.welcome a:visited, #footer li a, #footer li a:visited {
    color:#FFFFFF;
    text-decoration: none;
}

#main-nav {
    background-color: #ffffff;
    color: #000000;
    clear:both;
}

#main-nav ul {
    margin:0;
    padding-left:0;
    width:100%;
}

#main-nav li {
    /*background: url('/images/tab.png') repeat-x;*/
    background-color: #0099FF;
    color: #ffffff;
    display: block;
    float:left;
    height: 30px;
    min-width: 33%;
    text-align: center;
    padding: 13px 0 0 0;
    margin: 0 2px 0 0;
    font-size: 15px;
}

#mini_search_container {
    position:absolute;
    top:44px;
    right:0;
}

.mini_search_field_container {
    float:left;
}

#content {
    background-color:#ffffff;
    color:#000000;
    float:left;
    width:100%;
}

#side-nav {
    background: url('/images/tab.png') repeat;
    margin-top: 60px;
    width: 170px;
    color: #ffffff;
    float: left;
}

#side-nav ul {
    padding-top: 10px;
    padding-bottom: 10px;

}

#side-nav li {
    display:block;
    font-size: 120%;
}

#main-nav li a, #main-nav li a:visited, #side-nav li a, #side-nav li a:visited {
    color: #ffffff;
    text-decoration:none;
}

#side-nav li a:hover {
    text-decoration: underline;
}

#pane_container {
    border:2px solid #9966FF;
    min-height:540px;
    width:80%;
    margin:40px auto 30px auto;
}

#pane_container div.columns {
    width:48%;
    min-height:520px;
}

#pane_container h2 {
    color: #32CCFE;
}

#left_pane {
    margin:10px;
    float:left;
    border-right:2px solid #9966FF;
    height:96%;
}

#right_pane {
    float:left;
    height:100%;
    margin:10px 0 0 0;
}

.checkbox_label {
    margin:4px 280px 0 0;
}

.recaptcha_container {
    padding:10px;
}

.field_label, .checkbox_label {
    font-weight: bold;
}

.toggle_text {
    color:#32CCFE;
    border: 1px solid #32CCFE;
    margin: 6px 0 6px 0;
}

#page-content {
    /*background: url('/images/home_globe.png') no-repeat;*/
    margin:0 auto 0 auto;
    min-height: 500px;
    width:500px;
    position: relative;
}

#page-content::after {
    content:"";
    background: url('/images/home_globe.png') no-repeat;
    opacity: 0.25;
    filter:alpha(opacity=25); /* For IE8 and earlier */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
}

#event-map {
    border:2px solid #9966FF;
    width: 950px;
    min-height: 560px;
    float: left;
    margin: 40px 0 40px 30px;
    position: relative;
    padding: 10px;
}

#event-list {
    float:left;
    margin-right:20px;
    width:154px;
}

#map_canvas {
    width: 770px;
    height: 554px;
}

div.event-form-field {
    margin:2px 0 2px 0;
}

#footer ul {
    float:right;
}

#footer li a, #footer li a:visited {
    color:#9966FF;
    text-decoration:none;
}