/*
    Document   : styles
    Created on : Sep 22, 2013, 9:51:29 AM
    Author     : stretch
    Description:
        Purpose of the stylesheet follows.
*/

html {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #000000;
	color: #ffffff;
}

h1 {
	font-size:200%;
}

ul {
	list-style-type: none;
}

li {
	display: inline;
}

.clear {
	clear:both;
	line-height: 0px;
	height:0px;
	font-size:0px;
	margin:0px;
	padding: 0px;
}

.error, .notification, .successs {
    padding:0 0 0 10px;
}

.error {
    color:#FF3333;
}

.notification {
    color:#FFC322;
}

.success {
    color:#33FF33;
}

.error p, .notification p, .success p {
    display: inline;
}

.purple {
    color:#A85FCB;
}

#wrapper {

}

#header {
	background: url('../images/header.png') repeat-x;
}

#header h1 {
	margin-bottom:0px;
        float:left;
}

#header span.welcome {
	float:right;
        margin:15px 0 0 0;
}

#header span.welcome a, #header span.welcome a:visited, #footer li a, #footer li a:visited {
    color:#FFFFFF;
    text-decoration: none;
}

#main-nav {
	background-color: #ffffff;
	color: #000000;
        clear:both;
}

#main-nav ul {
	float:left;
	margin:0;
	padding-left:0;
}

#main-nav li {
	background: url('/images/tab.png') repeat-x;
	color: #ffffff;
	display: block;
	float:left;
	height: 30px;
	min-width: 90px;
	text-align: center;
	padding: 13px 0 0 0;
	margin: 0 2px 0 0;
	font-size: 15px;
}

#main-nav li.selected {
	background-color: #000000;
}

#main-nav li.last {
	background: url('/images/tab_1.png') #ffffff no-repeat;
}

#content {
	background-color:#ffffff;
	color:#000000;
	float:left;
	width:100%;
}

#side-nav {
	background: url('/images/tab.png') repeat;
	margin-top: 60px;
	width: 170px;
	color: #ffffff;
	float: left;
}

#side-nav ul {
	padding-top: 10px;
	padding-bottom: 10px;

}

#side-nav li {
	display:block;
	font-size: 120%;

}

#login-content {
    margin:10px;
}

#page-content {
    /*background: url('/images/home_globe.png') no-repeat;*/
    margin:0 auto 0 auto;
    min-height: 500px;
    width:500px;
    position: relative;
}

#page-content::after {
    content:"";
    background: url('/images/home_globe.png') no-repeat;
    opacity: 0.25;
    filter:alpha(opacity=25); /* For IE8 and earlier */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
}

#event-map {
	background-color: #c9c9c9;
	width: 950px;
	min-height: 560px;
	float: left;
	margin: 40px 0 40px 30px;
	position: relative;
        padding: 10px;
}

#event-list {
    float:left;
    margin-right:20px;
    width:154px;
}

#map_canvas {
    width: 770px;
    height: 554px;
}

div.event-form-field {
	margin:2px 0 2px 0;
}

#footer ul {
	float:right;
}
